src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAmericanFlights" doc:id="5b01094f-685a-4d86-bc9f-e93ff435f15d" >
		<http:listener doc:name="GET /american" doc:id="2bad8a2b-aa79-48c8-99c4-eff215043de5" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="facbf51b-713c-4831-bf1d-72bed57fe0e7" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="ec5b1c5d-16d0-4a44-a361-ac8d79902602" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="100a79b4-4f64-4026-b32a-e413a8f8e7d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f11b1d82-5331-458e-940b-1c6a7dc66437" />
	</flow>
	<sub-flow name="setCode" doc:id="faeff004-d407-4952-9ac5-359a7e1f4ae0">
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="1f375a94-b654-4c0f-8d3a-9ae0f442f4fc" variableName="code" />
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="a7d1aa62-f58d-45e2-8c39-7ebcb99fac55" >
		<http:listener doc:name="GET /united" doc:id="9dc63e7a-4026-43e6-bcaf-86d32c6a4c4b" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="2f9279a8-ff4a-4e36-ba07-5db5394f4e97" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="7f421071-9f91-4739-a099-b4d4ae41eb62" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="0070148c-fe43-44fe-8e51-0d3d5ebe647f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80654204-eea8-4e4e-b7c7-c571d5f25a42" />
	</flow>
	<flow name="getDeltaFlights" doc:id="43cf0e9b-88a5-4a8e-9a8a-9d64c3bfcb38" >
		<http:listener doc:name="GET /delta" doc:id="9b6d33f5-70aa-4772-8aed-880622f882d4" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="9d6cd511-2db9-4b37-98c1-489c56ea70e0" name="setCode"/>
		<ee:transform doc:name="Pass Code" doc:id="c786045c-060d-43b9-a5e1-461fc01ef6a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="dfcf91eb-e69f-4feb-b1cb-57bbaff30d5d" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="2f22e92f-3db9-421b-8a1a-77f078451ecf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3d86087e-fe4f-4f8d-af6f-e8102f88028b" />
	</flow>
</mule>
